p {
    color: rgb(6, 6, 65);
    text-align: center;
}

#important {
    font-size: 36px;
}

.info {
    background-color: rgb(39, 72, 161);
    border: 1px solid black;
}

a {
    width: 25px;
}

div {
    width: 100%;
    height: 200px;
}

img {
    width: 250px;
}